<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<!--       выводит всех user-->
<div th:each="user : ${users}">
    <a th:href="@{/admin/users/{id} (id=${user.getId()})}"
       th:text="${user.getUsername()}">user</a>

</div>
<br/>
<hr/>
<!--Отображают горизонтальную черту,
пустую строку и ссылку для создания нового пользователя-->
<a th:href="@{/admin/new}">Create new user</a>

<br/>
<br><br>

<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>