<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <link rel="shortcut icon" href="https://start.spring.io"/>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>

<div th:each="user : ${users}">
    <a th:text="${user.toString()}">user</a>
</div>
<br><br>
<input type="button" value="Admin"
       onclick="window.location.href='/admin/users'">
Only for admin
<br><br>

<input type="button" value="User"
       onclick="window.location.href='/user/userPage'">
Only for User

<br><br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>

</form>
</body>
</html>

