<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/}" th:object="${user}" >

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">lastName</label>
    <input type="text"  th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="email">Email</label>
    <input  type="text"  th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password</label>
    <input  type="password"  th:field="*{password}" id="password"/>
    <br/>
<br>

<label>Role:
    <select size="2" multiple name="roles" >
        <option value="1">USER</option>
        <option selected="selected" value="2">ADMIN</option>
    </select>
</label>
<br/>
    <br>
        <input type="submit" value="Save" />

</form>

<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>